@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --indigo1: #2f356b;
  --indigo2: #454a8c;
  --indigo3: #5c63b1;
  --indigo4: #7485ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.25s ease;
}

body, html, #root {
  height: 100%;
  background-color: var(--indigo1);
  color: white;
}

body, html {
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}
